@import './components/navbar/navbar.css';
@import './components/jumbo/jumbo.css';
@import './components/contentbox/contentbox.css';
@import './components/spacer/spacer.css';
@import './components/topper/topper.css';
@import './components/fab-link/fab-link.css';

body {
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
}

.flex-row {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.fab-grid {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 25vh 25vh 25vh 25vh;
    grid-template-columns: 16.66vw 16.66vw 16.66vw 16.66vw 16.66vw 16.66vw;
    justify-items: center;
    align-content: center;
}

@media (max-width: 480px) {

    body {}

    .flex-row {
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 90%;     
    }

}
